body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgba(220, 220, 220, 0.8);
    background-image: url(./assets/gas-station.gif);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1 {
    background-color: rgba(220, 220, 220, 0.8);
    border-radius: 50px;
    font-family: "Faster One", system-ui;
    font-weight: 200;
    font-style: normal;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    width: 80%;
    height: 80vh;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px; /* Set a fixed width for the sidebar */
    background-image: url(./assets/backgrounds/night-road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    display: block;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    background-color: #e9ecef;
    text-align: center;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: #ced4da;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.cars-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.car-card {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.car-card h2 {
    margin-top: 0;
}

.car-card form {
    margin-top: 10px;
}

.car-card button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.car-card button:hover {
    background-color: #555;
}

button.favorited {
    background-color: #28a745;
    color: white;
}

button.favorited:hover {
    background-color: #218838;
}

.car-card img.car-photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
