body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(220, 220, 220, 0.8);
    background-image: url(./assets/gas-station.gif);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
}

h1{
  background-color:rgb(220, 220, 220, 0.8);
  border-radius: 50px;
  font-family: "Faster One", system-ui;
    font-weight: 200;
    font-style: normal;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    background-image: url(./assets/gas-station.gif);
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    background-image: url(./assets/backgrounds/night-road.jpg);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    background-color: #e9ecef;
    text-align: center;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: #ced4da;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.car-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.car-card img {
    max-width: 100%;
    border-radius: 10px;
}

.car-card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.car-card p {
    font-size: 16px;
    margin: 5px 0;
}

.car-card button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.car-card button:hover {
    background-color: #0056b3;
}


button.favorited {
    background-color: #28a745;
    color: white;
}

button.favorited:hover {
    background-color: #218838;
}
