body {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(220, 220, 220, 0.8);
    background-image: url(./assets/gas-station.gif);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1 {
    background-color: rgba(220, 220, 220, 0.8);
    border-radius: 50px;
    font-family: "Faster One", system-ui;
    font-weight: 200;
    font-style: normal;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    width: 80%;
    min-height: 80vh;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 80vh;
    background-image: url(./assets/backgrounds/night-road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    background-color: #e9ecef;
    text-align: center;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: #ced4da;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.car-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
}

.form-group {
    margin-bottom: 15px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    padding-right: 30px;
    border-radius: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"], .form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-entry-btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-entry-btn:hover {
    background-color: #555;
}
