body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    background-color: rgba(220, 220, 220, 0.8);
    background-image: url(./assets/gas-station.gif);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1 {
    background-color: rgba(220, 220, 220, 0.8);
    border-radius: 50px;
    font-family: "Faster One", system-ui;
    font-weight: 200;
    font-style: normal;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    width: 80%;
    min-height: 80vh;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    background-image: url(./assets/night-road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    display: block;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    background-color: #e9ecef;
    text-align: center;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: #ced4da;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.car-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.car-card img {
    max-width: 100%;
    border-radius: 10px;
}

.car-card h3 {
    font-size: 20px;
    margin: 10px 0;
}

.car-card p {
    font-size: 16px;
    margin: 5px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.edit-btn, .delete-btn, .unfavorite-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.edit-btn {
    background-color: #007bff;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}

.unfavorite-btn {
    background-color: #ffc107;
}

.unfavorite-btn:hover {
    background-color: #e0a800;
}
