body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(220, 220, 220, 0.8);
    background-image: url(https://res.cloudinary.com/dkhjyipkm/image/upload/v1721389394/gas-station_y02prp.gif);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.8);
    border-radius: 50px;
    font-family: "Faster One", system-ui;
    font-weight: 200;
    font-style: normal;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.container {
    display: flex;
    width: 80%;
    min-height: 80vh;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px; /* Set a fixed width for the sidebar */
    background-image: url(https://res.cloudinary.com/dkhjyipkm/image/upload/v1721389394/night-road_wdozog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    background-color: #e9ecef;
    text-align: center;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: #ced4da;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 50%;
}

.search-form input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
}

.search-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #555;
}
