

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/gas-station.gif);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    background-image: url(./assets/night-road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar a {
    display: block;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    background-color: #e9ecef;
    text-align: center;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: #ced4da;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.car-details {
    text-align: center;
    margin-bottom: 20px;
}

.car-details img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.car-details p {
    font-size: 18px;
    margin: 10px 0;
}

.favorite-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.favorite-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    background-color: #007bff;
}

.favorite-btn:hover {
    background-color: #0056b3;
}

.favorite-btn.favorited {
    background-color: #ffc107;
}

.favorite-btn.favorited:hover {
    background-color: #e0a800;
}
