<!DOCTYPE html>
<html>
<head>
    <title>Add a New Car</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Car</h1>
    <form action="/cars" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="make">Make:</label>
        <input type="text" id="make" name="make" required>
        <br>

        <label for="colour">Colour:</label>
        <input type="text" id="colour" name="colour" required>
        <br>

        <label for="drivetrain">Drivetrain:</label>
        <input type="text" id="drivetrain" name="drivetrain" required>
        <br>

        <label for="year">Year:</label>
        <input type="number" id="year" name="year" required>
        <br>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location">
        <br>

        <label for="carImage">Car Image:</label>
        <input type="file" id="carImage" name="carImage">
        <br>
        <button type="submit">Add Car</button>
    </form>
    <a href="/cars">Back to list</a>
</body>
</html>
